// Inserir um int para definir a porta no qual sua aplicação irá subir
PORT=3000

// Inserir uma string de token e o tempo que será efetivado
JWT_SECRET=yasohdf0uy2hsd0uf09has
JWT_EXPIRE_IN=60s/5m/1h/1d (exemplos)

// Inserir uma string de token e o tempo que será efetivado
REFRESH_JWT_SECRET=iasjdf0=92389OSH089Y
REFRESH_JWT_EXPIRE_IN=20h/7d (exemplos)